@charset "utf-8";
/* CSS Document */
.box-shadow{-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;box-shadow:1px 1px 0 rgba(0,0,0,0.1)}.box-title{color:#333;padding-bottom:7px}
.resume-top{ height:50px; position:fixed; z-index:1000; width:100%; left:0px; top:0px; box-shadow:0px 1px 2px rgba(0,0,0,0.5);
background: rgb(242,246,248); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(242,246,248,0.8) 0%, rgba(216,225,231,0.8) 50%, rgba(181,198,208,0.8) 51%, rgba(224,239,249,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,0.8)), color-stop(50%,rgba(216,225,231,0.8)), color-stop(51%,rgba(181,198,208,0.8)), color-stop(100%,rgba(224,239,249,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,246,248,0.8) 0%,rgba(216,225,231,0.8) 50%,rgba(181,198,208,0.8) 51%,rgba(224,239,249,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,246,248,0.8) 0%,rgba(216,225,231,0.8) 50%,rgba(181,198,208,0.8) 51%,rgba(224,239,249,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,246,248,0.8) 0%,rgba(216,225,231,0.8) 50%,rgba(181,198,208,0.8) 51%,rgba(224,239,249,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(242,246,248,0.8) 0%,rgba(216,225,231,0.8) 50%,rgba(181,198,208,0.8) 51%,rgba(224,239,249,0.8) 100%); /* W3C */
}
.resume-top-fix{height:50px;box-shadow:0px 1px 0px rgba(255,255,255,1); border-top:1px solid #80cfed; border-bottom:1px solid #0073a0;background:url(../../images/bCenter/repeatx.png) repeat-x 0px -238px\9;
background-image: -webkit-gradient(linear, left top, left bottom, from(#009fde), to(#008ec6)); background-image: -webkit-linear-gradient(top, #009fde, #008ec6); background-image: -moz-linear-gradient(top, #009fde, #008ec6); background-image: -ms-linear-gradient(top, #009fde, #008ec6); background-image: -o-linear-gradient(top, #009fde, #008ec6); background-image: linear-gradient(top, #009fde, #008ec6);border-radius:1px;
}
.resume-top-main{width:990px; margin:0 auto; padding:10px 0 0 0;}
.resume-body{box-shadow:1px 1px 0 rgba(0,0,0,0.05);background:#fff;margin:20px auto 30px;min-height:500px;padding:20px 40px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;width:910px;
-webkit-transition:-webkit-transform .5s ease-in-out;-webkit-transform:translate3d(0,0,0);-webkit-backface-visibility:hidden;-moz-transition:-moz-transform .5s ease-in-out;-o-transition:-o-transform .5s ease-in-out;-ms-transition:-ms-transform .5s ease-in-out;transition:transform .5s ease-in-out;-webkit-transform-origin:center top;-moz-transform-origin:center top;-webkit-transform:scale(0);-moz-transform:scale(0);
}

.btn-blue{ font:14px/16px Arial,"宋体"; border:1px solid #005576;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px; padding:5px 10px; float:left; display:inline-block; margin-right:10px; color:#fff; text-shadow:0px -1px 0px rgba(0,0,0,0.5); box-shadow:inset 0px 1px 0px rgba(255,255,255,0.5),0px 1px 0px rgba(255,255,255,0.5); cursor:pointer;-moz-user-select:-moz-none;-webkit-user-select:none;user-select:none;
background:url(../../images/bCenter/repeatx.png) repeat-x 0px -290px\9;
background-image: -webkit-gradient(linear, left top, left bottom, from(#00b3fa), to(#0078a7)); background-image: -webkit-linear-gradient(top, #00b3fa, #0078a7); background-image: -moz-linear-gradient(top, #00b3fa, #0078a7); background-image: -ms-linear-gradient(top, #00b3fa, #0078a7); background-image: -o-linear-gradient(top, #00b3fa, #0078a7); background-image: linear-gradient(top, #00b3fa, #0078a7);
}
.btn-blue:active{box-shadow:inset 0px 1px 5px rgba(0,0,0,0.5);}
.btn-blue:hover{border:1px solid #006288;
background-image: -webkit-gradient(linear, left top, left bottom, from(#00b7ff), to(#007eaf)); background-image: -webkit-linear-gradient(top, #00b7ff, #007eaf); background-image: -moz-linear-gradient(top, #00b7ff, #007eaf); background-image: -ms-linear-gradient(top, #00b7ff, #007eaf); background-image: -o-linear-gradient(top, #00b7ff, #007eaf); background-image: linear-gradient(top, #00b7ff, #007eaf);
}
.btn-blue-txt{ display:inline-block;float:left;font:14px/16px Arial,"宋体";padding:5px; color:#fff; text-shadow:0px -1px 0px rgba(0,0,0,0.5);white-space:nowrap;}
.btn-blue-txt b{ color:#fff; white-space:nowrap;}

.resume-id{font:bold 36px/48px Arial; color:#333}
.resume-id .beizhu{ font:12px/48px Arial,"宋体"; color:#999}
.resume-photo{ background:#F7F7F7;overflow:hidden}
.resume-photo img{width:200px;}
.resume-photo-box{ padding:10px;border-bottom:1px solid #e5e5e5;}
.resume-photo-txt{ text-align:center; border-top:1px solid #fff; padding:10px}
.resume-main{ line-height:24px;}
.resume-main h5 { margin-top:20px; font: bold 14px/32px Arial;}
.res-info { width:600px;}
.res-info li { float:left; width:300px; color:#333;font-family:Arial,"宋体";}
.resume-main p{ font-family:Arial,"宋体"; color:#333}
.resume-main p i{ color:#F60; font-weight:bold;font-family:Arial,"宋体";}
.resume-main p b{color:#009BD8; font-weight:normal}
.resume-text p span { display:inline-block; width:100px;}
.res-item { float:left; width:300px;}
.res-item p{color:#333;}
.resume-main em { color:#ddd; font-weight:normal; padding:0px 5px}
.resume-part{border-bottom: 1px solid #eee;margin-bottom: 40px;padding-bottom: 30px; padding-left:10px;}
.resume-part h3{ font:bold 24px/36px Arial,"微软雅黑";}
.resume-text{ padding:0 30px; margin-top:20px}
.resume-skl-tab{ text-align:left; border:1px solid #ddd; box-shadow:1px 1px 0px #f3f3f3}
.resume-skl-tab td,.resume-skl-tab th{ padding:2px 20px 2px 10px; white-space:nowrap}
.resume-skl-tab th{ background:#eee}
.ico-tel{ background:url(../../images/bCenter/bg1.png) no-repeat 0px -375px; font:16px/24px Arial; float:left; padding:0 0 0 15px; margin:10px 10px 0px 20px}
.resume-hide{ padding:20px; border:1px dashed #ccc; background:#f7f7f7; width:500px}
.resume-hide .btn100_39{ margin-top:5px;}

.resume-copy{ width:960px; margin:0px auto; text-align:right; color:#999; padding:0 0 60px 0}
.showList{ margin-top:20px;}
.showList li{ float:left; margin:0px 10px 10px 0px; padding:3px; border:1px solid #eee;}
.seeFJ,.downFJ{font-size:12px; display:inline-block; background:url(../../images/bCenter/bg1.png) no-repeat -110px -238px; padding-left:18px; line-height:21px; height:21px; float:left}
.downFJ{ background-position:0 -435px; }
.fjSpan{ line-height:21px; margin-top:12px; padding-left:10px}

.jubao{ text-align:center; padding:0 5px;}
.jubao-box{ width:440px;}
.jubao a{ cursor:pointer;}
.jubao-tip{ font:normal 12px/24px simsun; text-align:left; color:#666}
.jubao-form{ font:normal 12px/34px simsun;color:#333}
.jubao-form dt{ float:left; text-align:right; width:102px;}
.jubao-form dd{ font:bold 12px/34px simsun;color:#333;text-align:left;float:left;}